/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: inherit; 
	text-decoration: inherit;
  }
/** end reset css**/
body {
	display: flex;
	flex-direction: column;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
	
}
header {
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 38px;
	background: #FFFEF8;
	width: 100vw;
}
main {
	max-width: 1140px;
	margin: auto;
	background: #FFFEF8;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	
}

/* Edit div */
.edit{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: #000;
	color:#fff;
	gap: 12px;
	display: none;
}
/* modif button */
.titleportfolio{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 31px;
	margin-bottom: 1em;
}
.modif{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 12.42px;
	cursor: pointer;
}

/* Modal */
.bgmodal{
	display: flex;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.30);
}

.modal{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 630px;
	height: 688px;
	align-items: center;
	position: fixed;
	top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
	border-radius: 10px;
}

.modalmenu{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.modal__cross{
	width: 24px;
	height: 24px;
	align-self: end;
	padding: 26px;
	cursor: pointer;
}
.modal__arrow{
	width: 21px;
	height: 21px;
	padding: 29px;
	cursor: pointer;
	background-image: url(icons/arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.modal__title{
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	
}
.modal__list{
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin: 25px 100px;
	padding-bottom: 25px;
	border-bottom: 1px solid #B3B3B3;
}

.modal__divpicture{
	display: flex;
	flex-direction: column;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background: #E8F1F6;
	margin-top: 36px;
	align-items: center;
	justify-content: center;

}

.photoElement{
	display: flex;
	flex-direction: column;
	width: 76px;
	height: 100px;
	background-position: center;
    background-size: contain;
	background-repeat: no-repeat;
	align-items: flex-end;
}

.divtrash{
	display: flex;
	background-color: #000;
	border-radius: 5px;
	width: 17px;
	height: 17px;
	align-items: center;
	justify-content: center;
	margin: 5px;
	cursor: pointer;
}

.divtrash:hover{
	background-color: red;
}

.trash{
	width: 9px;
	height: 11px;
}

.PostPicture{
	display: flex;
	padding: 10px 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
	border: none;
}

.PostPicture:hover{
	background: #3cb49e;
}

.formPicture{
	display: flex;
	flex-direction: column;
	width: 420px;
	gap: 10px;
	margin-top: 30px;
	padding-bottom: 45px;
	border-bottom: 1px solid #B3B3B3;
}

.inputPictureElem{
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	height: 51px;
	margin-bottom: 11px;
}

.invisible{
	visibility: hidden !important;
}

.btnUpload{
	font-family: 'Syne';
	font-weight: 700;
	color: #306685;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 50px;
	background: #CBD6DC;
	border: none;
	padding: 10px 33px;
	cursor: pointer;
}

.infoUpload{
	margin-top: -20px;
}


.filter-sec{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 60px 0;
	gap: 10px
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}


.filter, .login-btn{
	border-radius: 60px;
	border: 1px solid #1D6154;
	background: #1D6154;
	color: #FFF;
	padding: 9px 30px;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}


.filter:hover, .login-btn:hover{
    background: #3cb49e;
	border: 1px solid #3cb49e;
    color: #FFF;
}

.filter-selec{
	background: #FFF;
	color: #1D6154;
}

.filter-selec:hover{
    background: #FFF;
	color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em;
	background-color: #FFFFFF;
	
}

/* Figure */
.gallery figure{
	display: grid;
}

.gallery figure img{
	align-self: center;
}

.gallery figcaption{
	margin-top: auto;
}

/* Login page */
#body-login{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
#main-login{
	display: flex;
	flex-direction: column;
	margin-bottom: auto;
}

#login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 37px;
}

#login div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6px;
	width: 379px;
	margin-top: 30px;
}

#login div input{
	height: 51px;
}

#login p{
	color: #3D3D3D;
	line-height: normal;
}

#login a{
    color: #3D3D3D;
	line-height: normal;
	text-decoration-line: underline;
}

#login a:hover {
	color: #B1663C;
	cursor: pointer;
}

.errorform{
	border: 1px solid black;
}
.errormessage{
	color: red !important;
	animation: error 0.4s ease-in-out;
}

.animeerror{
	animation: error 0.4s ease-in-out;
	color: red !important;
	border: none !important;
}

@keyframes error {
	0% { transform: translateX(0) }
	25% { transform: translateX(5px) }
	50% { transform: translateX(-5px) }
	75% { transform: translateX(5px) }
	100% { transform: translateX(0) }
  }